<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CNLA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bolder text-white" asp-area="" asp-controller="Home" asp-action="Index">CNLA_Docs</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial.cshtml" />
                </div>
                <asp:HyperLink class="align-content-end text-white" runat="server" ID="test" CssClass="btn btn-primary" Text="Contact Us"><i class="fa fa-phone"></i> Contact Us</asp:HyperLink>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <nav class="navbar-dark bg-dark">
            <div class="container text-white">
                &copy; 2022 - TrailBlazer.Inc - <a class="text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | <a class="text-white-50" href="https://cnla.ca">Canadian Nursary Landscape Association </a>


            </div> 
            </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
