@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    <br />
    <h2>Chapter	1</h2><br /><br />
    <h3>Managing	Risk</h3><br /><br />
    </p>
   
<p>
    Risk	is	defined	as	“a	condition	in	which	there	is	a	possibility	of	an	adverse	deviation	from	a	desired
    outcome	that	is	expected	or	hoped	for.”	In	business,	including the	green	industry, the	outcomes	of
    unmanaged	or	poorly	managed	risk	produce	losses	in	company	assets,	earnings,	reputation,	and/or
    employee	productivity,	employee	safety and	well-being;	it	can	also	be	a	“black	hole”	consuming	huge
    amounts	of	management	time.	 Business	risk	presents	itself	in	many	ways;	the	typical	examples	of	risk
    that	most	businesses	think	of	are	fire,	natural	disasters,	theft,	damage	to	assets	(property,	offices,
    trucks),	and	third-party	liability. It	is	important	to	remember that there will	always	be	risk,	and	it	is
    equally important	you	learn	to	manage	your	risk	in	order	to	maximize	your	profit-potential.
    There	are	a	number	of	ways	that	risk	can	be	classified	to	make	it	easier	to	develop	risk	mitigation
    strategies.	One	way	is	to	categorize	the	risk	by	the	amount	of influence	the	business	owner	has	over	the
    risk—see	Figure	1 for	a	breakdown.
    </p>
