@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    <br />
    <h2>Chapter	1</h2><br /><br />
    <h3>Leadership	for	the	21st	Century</h3><br /><br />
     <h5> The	Role	of	Managers </h5><br /><br />
    </p>
<p>
    This	module	covers	the	leadership	aspects	of	management,	but	does	not	address	the	other	significant
    roles	that	managers	play in	planning,	organizing,	and	controlling	business	operations.	These	three
    aspects	of	management	are	covered	in	other	Business	Management	Training	Manuals,	including	the
    “Strategic	Planning	Manual,”	the	“Corporate	Financial	Management	Manual,”	and	the	“Human Resource
    Training	Manual.”	The	following	paragraphs	provide	a	brief	review	of	the	roles	of	managers	in	business
    today.
    All	companies	need	managers,	but	we	often	do	not	give	much	thought	to	what	is	the	true	role	of	a
    manager.	The	most	accepted	definition	of	management	is	“the	process	of	achieving	organizational	goals
    by	engaging	in	planning,	organizing,	leading,	and	controlling.”
    </p>