@{
    ViewData["Title"] = "Home Page";
}

@{ 
    
}
<div class="text-center">
    <h1 class="display-4">Welcome To CNLA Doc-Sharing</h1>
    <p>Learn about <a href="https://cnla.ca">Canadian Nursary Landscape Association </a>.</p>
</div>
