<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/272a1388-4140-4919-8bc2-e46655bf94e3/resourcegroups/CNLADocsResourceGroup/providers/Microsoft.Web/sites/CNLADocsSharingPortal</ResourceId>
    <ResourceGroup>CNLADocsResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cnladocssharingportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e08e6009-bcf3-4f28-aba2-5b72231cb796</ProjectGuid>
    <PublishUrl>https://cnladocssharingportal.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CNLADocsSharingPortal</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>